@import "tailwindcss";

body {
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
    background: #111217;
    min-height: 100vh;
    margin: 0;
}

#root {
    min-height: 100vh;
}

