@import "tailwindcss";

body {
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
    background: #2d2d2d;
    min-height: 100vh;
    margin: 0;
}

#root {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

